<!-- 
    <h1>
        Hello
    </h1>
     -->
    <div class="container-b">
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>Food Cart</h1>
                <p>Add food items here..</p>
                <hr>
                <h2>Restaurant</h2>
                <label for="name"><b>Restaurant Name:</b></label>
      <input type="text" placeholder="Enter Restaurant name........" name="name" required><br>

      
      <label for="name"><b>Restaurant Image:</b></label><br>
        <input type="image" src="/assets/images/resot2.jpg" alt="Submit" height="80" width="300"> <br>

        <label for="name"><b>Restaurant Description:</b></label><br>
        <input type="text" placeholder="Description  " name="name" required><br> 
                <hr>
                <div class='table-responsive'>
                    <table class='table'>
                        <tr>

                            <th> Food Name</th>
                            <th> Price</th>
                            <th> Quantity</th>
                        </tr>

                        <tr>
                            <th>1</th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr>
                            <th>2</th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr>
                            <th>3</th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr>
                            <th>4</th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr>
                            <th>5</th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr>

                            <th>6</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </table>
                </div>


            </div>
        </form>
    </div>

<router-outlet></router-outlet>
 

 