
    <div class="container">
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>Order A food</h1>
                <p>order food items here..</p>
                <hr>
                <label for="name"><b>Restaurant Name:</b></label>
      <input type="text" placeholder="Enter Restaurant name........" name="name" required><br>

      
     
        <label for="name"><b>Restaurant Description:</b></label><br>
        <input type="text" placeholder="Description  " name="name" required><br> 
                <hr>
                <div class='table-responsive'>
                    <table class='table'>
                        <tr>

                            <th> Order Id</th>
                            <th> Mode Of Payment</th>
                            <th> Status</th>
                            <th> Products</th>
                            <th> Total Payment</th>
                            <th> User Id</th>
                        </tr>

                        <tr>
                                <th> 1</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                        </tr>

                        <tr>
                                <th> 2</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                        </tr>

                        <tr>
                                <th> 3</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                        </tr>

                        <tr>
                                <th> 4</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th></th>
                                <th> </th>
                        </tr>

                        <tr>
                                <th> 5</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                        </tr>

                        <tr>

                                <th> 6</th>
                                <th> </th>
                                <th></th>
                                <th> </th>
                                <th></th>
                                <th> </th>
                        </tr>
                            </table>
                </div>


            </div>
        </form>
    </div>

