<h1>
        <font color=blue>
   <b>
    <i>
    Annapurna.............
</i>  
    </b>
</font>
</h1>
<div class="col-sm-2">
 <!-- <img src="assets/images/food8.jpeg" height="250px" width="1200px" alt="Annapurna"><br><br> -->
 <img src="assets/images/food3.jpg" height="250px" width="1200px" alt="Annapurna">
 
</div>
<h4><font color=hotpink><b><i>Good Food, Good Mood order on Annapurna.....!</i></b></font></h4>
<!-- <h4><font color=hotpink><b><i>Feeling Hungry order on Annapurna...</i></b></font></h4> -->